@page "/nalog/{id}"
@using ciklonalozi.Pages
@model Qr

<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ciklo-Sport Nalog</title>
    <link rel="stylesheet" href="/css/bootstrap-night.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css" />
    <link href="/css/site.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    @if (Model.Fail)
    {
        @* Upisano je neispravno smeće *@
        <h1>Daj upiši kako treba</h1>
    }
    else if (Model.Order == null)
    {
        @* Smeće je dekodirano kako treba ali nalog nije pronađen. Ne bi se nikad smjelo dogoditi *@
    }
    else
    {
        @* Tu je sve ok i koristi Model.Order kako hoćeš po uzoru na Print.cshtml *@
        <h1>@Model.Order.ContactName</h1>
    }
    <button onclick="kita()">Kita</button>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        const kita = async () => {
            if (!("Notification" in window)) {
                return;
            }

            // Check if push messaging is supported
            if (!('PushManager' in window)) {
                return;
            }

            if (!('serviceWorker' in navigator)) {
                return false;
            }

            registration = await navigator.serviceWorker.register("/js/push-handler.js'");
            registration.update();

            // Are Notifications supported in the service worker?
            if (!(registration.showNotification)) {
                return;
            }

            console.log(Notification.permission);
        };
    </script>
</body>

</html>