@using ciklonalozi.Models

@if (Shown)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal fade show" style="display: block;" @onclick=Hide>
        <div class="modal-dialog modal-lg" @onclick:stopPropagation>
            <form @onsubmit=SaveClicked>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nalog @OriginalOrder?.OrderId.ToString("#,0")</h5>
                        <button type="button" class="btn-close" @onclick=Hide></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-5">
                                <TextBox For=@nameof(EditOrderModel.ContactName) Label=Kontakt @bind-Value=Model.ContactName
                                Errors=Errors Required />
                                <TextBox For=@nameof(EditOrderModel.ContactPhone) Label=Telefon @bind-Value=Model.ContactPhone
                                Errors=Errors />
                                <TextBox For=@nameof(EditOrderModel.Subject) Label=Predmet @bind-Value=Model.Subject Errors=Errors
                                Required />
                                <TextBox For=@nameof(EditOrderModel.Description) Label=Opis @bind-Value=Model.Description Lines=3
                                Errors=Errors />
                                <div class="d-flex justify-content-around">
                                    <CheckBox For=@nameof(EditOrderModel.Removed) Label=Brisano @bind-Value=Model.Removed
                                    Errors=Errors />
                                    @if(OriginalOrder?.CanPush ?? false)
                                    {
                                        <CheckBox For=@nameof(PushSend) Label=Poruka @bind-Value=PushSend />
                                    }
                                </div>
                            </div>
                            <div class="col-7">
                                <DateTimeBox For=@nameof(EditOrderModel.Arrival) Label="Završiti do" @bind-Value=Model.Arrival
                                Errors=Errors Required />
                                <DateTimeBox For=@nameof(EditOrderModel.Arrived) Label=Zaprimljeno @bind-Value=Model.Arrived
                                Errors=Errors />
                                <DateTimeBox For=@nameof(EditOrderModel.Completed) Label=Završeno @bind-Value=Model.Completed
                                Errors=Errors />
                                <div class="d-flex">
                                    <IntegerBox For=@nameof(CreateOrderModel.Effort) Label="Trud" @bind-Value=Model.Effort
                                        Errors=Errors Required />
                                    <div class="m-2"></div>
                                    <NumBox For=@nameof(EditOrderModel.EstimatedPrice) Label="Procjena iznosa" @bind-Value=Model.EstimatedPrice />
                                    <div class="m-2"></div>
                                    <NumBox For=@nameof(EditOrderModel.RealPrice) Label="Krajnja cijena" @bind-Value=Model.RealPrice
                                    Required=Model.Completed.HasValue AutoFocus />
                                </div>
                                <DateTimeBox For=@nameof(EditOrderModel.Returned) Label=Vraćeno @bind-Value=Model.Returned
                                Errors=Errors />
                            </div>
                        </div>
                        @if(PushSend)
                        {
                            <TextBox Label=Naslov @bind-Value=PushTitle />
                            <TextBox Label=Sadržaj @bind-Value=PushBody Lines=2 />
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-outline-danger" @onclick=Hide>Odustani</button>
                        <button type="submit" class="btn btn-primary">Spremi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}